<div id="employees">
    <div class="header">
        <div class="header_row">
            <div class="column">
                <h1>ABC Bank</h1>
            </div>
        </div>
    </div>
    <div class="content">
        
            <div class="content_row">
                <div class="content_column">
                    <h1>Employees</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  {{isSelected}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <div><button type="button" class="btn" (click)="selected('Id')">Id</button></div>
                                    <div><button type="button" class="btn" (click)="selected('Name')">Name</button></div>
                                    <div><button type="button" class="btn" (click)="selected('Job Title')">Job Title</button></div>
                                    <div><button type="button" class="btn" (click)="selected('Region')">Region</button></div>
                                    <div><button type="button" class="btn" (click)="selected('Email')">Email</button></div>
                                </div>
                              </div>
                        </div>
                        <div class="col-md-8"><div class="input-group mb-2">
                            <input type="text" [(ngModel)]="searchText" class="form-control">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><button type="button" class="btn btn-search" (click)="searchEmp()">Search</button></div>
                            </div>
                        </div></div>
                    </div>
                      
                </div>
                <div class="btn_column">
                    <button type="button" class="btn btn-primary button2" data-toggle="modal" data-target="#createEmployee">
                        Create Employee
                    </button>
                </div>
            </div>
        
        <div class="panel panel-default holding-bottom-none no-border">
            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"
                pag>
                <thead>
                    <tr>
                        <th class="th-sm" (click)="sortBy('id');sort.id= !sort.id">
                            ID
                            <span *ngIf="sort.id">&#8593;</span>
                            <span *ngIf="!sort.id">&#8595;</span>
                        </th>
                        <th class="th-sm" (click)="sortBy('name');sort.name= !sort.name">
                            Full Name
                            <span *ngIf="sort.name">&#8593;</span>
                            <span *ngIf="!sort.name">&#8595;</span>
                        </th>
                        <th class="th-sm">
                            Employee Code
                        </th>
                        <th class="th-sm" (click)="sortBy('jobTitle');sort.jobTitle= !sort.jobTitle">
                            Job Title
                            <span *ngIf="sort.jobTitle">&#8593;</span>
                            <span *ngIf="!sort.jobTitle">&#8595;</span>
                        </th>
                        <th class="th-sm">
                            Phone Number
                        </th>
                        <th class="th-sm" (click)="sortBy('email');sort.email= !sort.email">
                            Email Id
                            <span *ngIf="sort.email">&#8593;</span>
                            <span *ngIf="!sort.email">&#8595;</span>
                        </th>
                        <th class="th-sm" (click)="sortBy('region');sort.region= !sort.region">
                            Region
                            <span *ngIf="sort.region">&#8593;</span>
                            <span *ngIf="!sort.region">&#8595;</span>
                        </th>
                        <th class="th-sm" (click)="sortBy('dob');sort.dob= !sort.dob">
                            DOB
                            <span *ngIf="sort.dob">&#8593;</span>
                            <span *ngIf="!sort.dob">&#8595;</span>
                        </th>
                        <th class="th-sm">
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employeeData; let i = index">
                        <td><button type="button" class="btn btn-link" (click)="displayEmployee(employee.id)" data-toggle="modal" data-target="#displayEmployee">EM{{employee.id}}</button></td>
                        <td>{{employee.firstName}} {{employee.lastName}}</td>
                        <td>{{employee.employeeCode}}</td>
                        <td>{{employee.jobTitleName}}</td>
                        <td>{{employee.phoneNumber}}</td>
                        <td>{{employee.emailAddress}}</td>
                        <td>{{employee.region}}</td>
                        <td>{{employee.dob}}</td>
                        <td>
                            <div class="dropdown show">
                                <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true">...</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                  <div><button type="button" class="btn" (click)="displayEmployee(employee.id)" data-toggle="modal" data-target="#displayEmployee">View</button></div>
                                  <div><button type="button" class="btn" (click)="displayEmployee(employee.id)" data-toggle="modal" data-target="#updateEmployee">Edit</button></div>
                                  <div><button type="button" class="btn" (click)="deleteEmployee(i)">Delete</button></div>
                                </div>
                        
                        </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
</div>

<div class="modal fade" id="createEmployee" tabindex="-1" role="dialog" aria-labelledby="createEmployeeLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createEmployeeLabel">Create Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="col-md-4 form-group">
                            <label>ID </label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">EM</div>
                                </div>
                                <input type="text" (change)="empId($event)" class="form-control">
                                <label *ngIf="isEmployeeID" style="color: red;">ID is required</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label>First name </label>
                            <input type="text" (change)="fname($event,'C')" class="form-control" placeholder="">
                        </div>
                        <div class="col form-group">
                            <label>Last name</label>
                            <input type="text" (change)="lname($event, 'C')" class="form-control" placeholder=" ">
                        </div> 
                    </div>
                    <div class="form-group">
                        <label>Job Title</label>
                        <input type="text" (change)="title($event, 'C')" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" (change)="email($event, 'C')" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" (change)="phoneNumber($event, 'C')" class="form-control" placeholder="">
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label>Region </label>
                            <input type="text" (change)="region($event, 'C')" class="form-control" placeholder="">
                        </div>
                        <div class="col form-group">
                            <label>DOB</label>
                            <input type="date"  (change)="dob($event, 'C')" class="form-control" placeholder="">
                        </div> 
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="createEmployee()">Create</button>
                <button type="button" class="closeModel btn btn-secondary" data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="displayEmployee" tabindex="-1" role="dialog" aria-labelledby="displayEmployeeLabel"
    aria-hidden="true" *ngIf="displayEmployeeData">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="displayEmployeeLabel">
                    <h5>EM{{displayEmployeeData.id}}</h5>
                    <h2>{{displayEmployeeData.firstName}} {{displayEmployeeData.lastName}}</h2>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6"><p>Name</p></div>
                    <div class="col-md-6"><p>{{displayEmployeeData.firstName}} {{displayEmployeeData.lastName}}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><p>Employee Code</p></div>
                    <div class="col-md-6"><p>{{displayEmployeeData.employeeCode}}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><p>Job Title</p></div>
                    <div class="col-md-6"><p>{{displayEmployeeData.jobTitleName}}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><p>Phone Number</p></div>
                    <div class="col-md-6"><p>{{displayEmployeeData.phoneNumber}}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><p>Email Id</p></div>
                    <div class="col-md-6"><p>{{displayEmployeeData.emailAddress}}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><p>Region</p></div>
                    <div class="col-md-6"><p>{{displayEmployeeData.region}}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><p>DOB</p></div>
                    <div class="col-md-6"><p>{{displayEmployeeData.dob}}</p></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateEmployee" tabindex="-1" role="dialog" aria-labelledby="updateEmployeeLabel"
    aria-hidden="true" *ngIf="displayEmployeeData">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateEmployeeLabel">Update Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="col-md-4 form-group">
                            <label>ID </label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">EM</div>
                                </div>
                                <input type="text" [value]="displayEmployeeData.id" class="form-control" disabled="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label>First name </label>
                            <input type="text" [value]="displayEmployeeData.firstName"  (change)="fname($event, 'U')" class="form-control" placeholder="">
                        </div>
                        <div class="col form-group">
                            <label>Last name</label>
                            <input type="text" [value]="displayEmployeeData.lastName"  (change)="lname($event, 'U')" class="form-control" placeholder=" ">
                        </div> 
                    </div>
                    <div class="form-group">
                        <label>Job Title</label>
                        <input type="text" [value]="displayEmployeeData.jobTitleName"  (change)="title($event, 'U')" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" [value]="displayEmployeeData.emailAddress" (change)="email($event, 'U')" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" [value]="displayEmployeeData.phoneNumber"  (change)="phoneNumber($event, 'U')" class="form-control" placeholder="">
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label>Region </label>
                            <input type="text" [value]="displayEmployeeData.region"  (change)="region($event, 'U')" class="form-control" placeholder="">
                        </div>
                        <div class="col form-group">
                            <label>DOB</label>
                            <input type="text" [value]="displayEmployeeData.dob"  (change)="dob($event, 'U')" class="form-control" placeholder="" disabled="true">
                        </div> 
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="updateEmployee()">Update</button>
                <button type="button" class="closeModel btn btn-secondary" data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</div>